CLIP+VQGAN/CLIP/**
CLIP+VQGAN/tamingtransformers/**
CLIP+VQGAN/checkpoints/**
CLIP+VQGAN/output.png
CLIP+VQGAN/output.mp4
CLIP+VQGAN/steps/**

CLIP+Optim/CLIP/**
CLIP+Optim/output.png
CLIP+Optim/output.mp4
CLIP+Optim/steps/**

.python-version

__pycache__
CLIP+VQGAN/taming